/*
font-family: montserrat, sans-serif;

font-weight: 400;

font-style: normal;


Montserrat Bold

font-family: montserrat, sans-serif;

font-weight: 700;

font-style: normal;


Montserrat Alternates Regular

font-family: montserrat-alternates, sans-serif;

font-weight: 400;

font-style: normal;


Montserrat Alternates Bold

font-family: montserrat-alternates, sans-serif;

font-weight: 700;

font-style: normal;
*/

*{
    margin: 0em;
    padding: 0px;
    box-sizing: border-box;
    font-family: montserrat-alternates, sans-serif;

font-weight: 400;

font-style: normal;

font-size: 2rem;
    
}
body{
background-color: ;
}
.masterwrapper{
  
  padding: 5% 10% 5% 10%;
  
}

@media only screen and (max-width: 600px) {

  .masterwrapper{
  
    padding: 5% 5% 5% 5%;
  }

}
.maincontent{
  width: 100%;
  height: 50vh;
  padding-top: 20%;
}

.logowrap{
  width: 100%;
  padding-top: 12%;
}
@media only screen and (max-width: 600px) {
  .logowrap{
    width: 100%;
    padding-top: 50%;
  }
  *{
    font-size: 1rem;
  }
  h1{
    font-size: 2rem;
  }
}

h1{
  text-align: center  ;
  vertical-align: center  ;
  width: auto;
}
  .header{
      
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr ;
      justify-content: space-between;
      animation: slidedown 1s ease-in;
      
      
      
  }

   
  .bgimg{
    width: 40%;
    height: auto;
    display: block;
    margin: auto;

    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s; /* Firefox < 16 */
     -ms-animation: fadein 3s; /* Internet Explorer */
      -o-animation: fadein 3s; /* Opera < 12.1 */
         animation: fadein 3s;
   
    
  }
  .downarrow{
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 3s; /* Firefox < 16 */
       -ms-animation: fadein 3s; /* Internet Explorer */
        -o-animation: fadein 3s; /* Opera < 12.1 */
           animation: fadein 3s;
  }


  @media only screen and (max-width: 600px) {
    .bgimg{
     width:80%;
     height: auto;
      display: block;
      margin: auto;
      border-radius: 50%;
      -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 3s; /* Firefox < 16 */
       -ms-animation: fadein 3s; /* Internet Explorer */
        -o-animation: fadein 3s; /* Opera < 12.1 */
           animation: fadein 3s;
    }
  }


  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes slidedown {
  0%{
    transform: skewX(20deg) translateX(-500px);
    opacity: 0;
}
60%{
    transform: translateX(0px);
}
62%{
    transform: skewX(5deg) translateX(30px);
}
70%{
    transform: skew(-10deg);
    opacity: 1;
}
80%{
    transform: skew(-8deg) translate(0);
}
90%{
    transform: skew(0deg);
}
100%{
    transform: skew(0deg);
}
}


/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
  /* Clear floats after the columns */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }

  .words{
     display: block;
     margin: auto;
      
  }

  #item1{
    
    text-align: center;
  }
  #item2{
   
    text-align: center;
  }




  .words{
     color: rgb(37, 35, 35);
      font-size: 1rem;
      text-align:left;
     
  }

  .downarrow{
    display: block;
    margin: auto;
    padding-top: 30px;
  }

  .todolist{
    padding-top: 100px;


  }
  .todolist ul li{
    padding: 3% 0 3% 0 ;
    text-align: center;


  }
  .todolist ul :nth-child(odd){
    background-color: cornsilk;
  }

  .content{
    height:auto;
  }

.hellovid{
  
  margin-top: 100px;

}
.welcomcat{
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
  text-align: center;
  justify-content: center;
}
.utube{
 display: block;
 margin: auto;
 height: 700px;
 width: 100%;
 ;
 
}
.twoinone{
  display : grid;
  grid-template-columns: 50% fit-content(50%);
  
  padding-top: 150px;
  padding-bottom: 300px;

}
.hellopic{
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .utube{
    display: block;
    margin: auto;
    height: 200px;
    width: 100%;
    
   }
   .twoinone{
    display : block;
    
    padding-bottom: 100px;
  
  }
  .welcomcat{
    padding-top: 50px;
    font-size: 2rem;
  }
}

#map{
  width: 90%;
  height: 700px;
  display: block;
  margin: auto;
}
@media only screen and (max-width: 600px) {
  #map{
    width: 100%;
    height: 300px;
    display: block;
    margin: auto;
  }
}
  
footer{
  background-color: darkgrey;
  width: 100%;
  height: 200px;
}